---
layout: default
---
<article class="post">
  {% if page.image %}
  <figure class="post-featured-image">
    <img src="{{ page.image | relative_url }}" alt="">
  </figure>
  {% endif %}
  <header class="post-header">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    <h1>{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <hr class="divider">

  {% if site.cusdis.app_id and site.cusdis.app_id != "" %}
  <section class="comments">
    <h2>Comments</h2>
    <div id="cusdis_thread"
      data-host="https://cusdis.com"
      data-app-id="{{ site.cusdis.app_id }}"
      data-page-id="{{ page.url }}"
      data-page-url="{{ page.url | absolute_url }}"
      data-page-title="{{ page.title | xml_escape }}"
      data-theme="dark">
    </div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
    <noscript>
      <p>Enable JavaScript to view comments.</p>
    </noscript>
  </section>
  {% endif %}
</article>
